<div>
    <h2>
        <span>Propostas</span>
        <button class="btn btn-primary float-right jh-create-entity create-proposta" [routerLink]="['/', { outlets: { popup: ['proposta-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Proposta
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="propostas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Valor</span></th>
            <th><span>Data Hora</span></th>
            <th><span>Situacao</span></th>
            <th><span>Fornecedor</span></th>
            <th><span>Item Licitacao</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let proposta of propostas ;trackBy: trackId">
                <td><a [routerLink]="['../proposta', proposta.id ]">{{proposta.id}}</a></td>
                <td>{{proposta.valor}}</td>
                <td>{{proposta.dataHora | date:'medium'}}</td>
                <td>{{proposta.situacao}}</td>
                <td>
                    <div *ngIf="proposta.fornecedor">
                        <a [routerLink]="['../fornecedor', proposta.fornecedor?.id ]" >{{proposta.fornecedor?.nome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="proposta.itemLicitacao">
                        <a [routerLink]="['../item-licitacao', proposta.itemLicitacao?.id ]" >{{proposta.itemLicitacao?.nome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../proposta', proposta.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'proposta/'+ proposta.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'proposta/'+ proposta.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
