<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPropostaLabel">Create or edit a Proposta</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!proposta.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="proposta.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_valor">Valor</label>
            <input type="number" class="form-control" name="valor" id="field_valor"
                [(ngModel)]="proposta.valor" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_dataHora">Data Hora</label>
            <div class="d-flex">
                <input id="field_dataHora" type="datetime-local" class="form-control" name="dataHora" [(ngModel)]="proposta.dataHora"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_situacao">Situacao</label>
            <select class="form-control" name="situacao" [(ngModel)]="proposta.situacao" id="field_situacao" >
                <option value="SITUACAO">SITUACAO</option>
                <option value="SITU2">SITU2</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_fornecedor">Fornecedor</label>
            <select class="form-control" id="field_fornecedor" name="fornecedor" [(ngModel)]="proposta.fornecedor" >
                <option [ngValue]="null"></option>
                <option [ngValue]="fornecedorOption.id === proposta.fornecedor?.id ? proposta.fornecedor : fornecedorOption" *ngFor="let fornecedorOption of fornecedors; trackBy: trackFornecedorById">{{fornecedorOption.nome}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_itemLicitacao">Item Licitacao</label>
            <select class="form-control" id="field_itemLicitacao" name="itemLicitacao" [(ngModel)]="proposta.itemLicitacao" >
                <option [ngValue]="null"></option>
                <option [ngValue]="itemLicitacaoOption.id === proposta.itemLicitacao?.id ? proposta.itemLicitacao : itemLicitacaoOption" *ngFor="let itemLicitacaoOption of itemlicitacaos; trackBy: trackItemLicitacaoById">{{itemLicitacaoOption.nome}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
